.pane {
    -fx-background-radius: 5.0;
    -fx-padding: 8;
    -fx-border-color: #2e8b57;
    -fx-border-width: 2px;
    -fx-padding: 10px;
}

.pane-header {
    -fx-font-size: 20px;
}

#developer-log {
  -fx-border-color: lightgray;
  -fx-border-width: 1px;
}